<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.christianfoulcard.android.androidsensorengine"
    tools:ignore="ExtraText"
    android:minSdkVersion="21" android:targetSdkVersion="30"
    >

    <!-- Add app intent link -->
    <!--
 https://developer.android.com/guide/components/fundamentals#DeclaringRequirements
     Above link for declaring app requirements on Google Play
    -->
    <!--
 Record Audio and Location is listed as a Dangerous Permission
 This will mean the user must explicitly grant access to use your feature
    -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <!--
 As of Android 10 the ACTIVITY_RECOGNITION is required to be declared to track steps.
    This is for the Step Sensor to work on Android 10 Devices
    -->
    <uses-permission android:name="android.permission.ACTIVITY_RECOGNITION" />





    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">

        <!-- You don't need to include android:required="false" if your app's
 minSdkVersion is 28 or higher. -->
        <uses-library android:name="android.test.runner"/>

        <!--Ad Mob-->
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-9554686964642039~3021936665"/>

        <!-- Sensor Selection Screen -->
        <!-- Change the theme to AppTheme to go straight to the Sensor Select Screen -->
        <!-- AppTheme.Launcher is for the launcher screen -->
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Launcher">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            
            <!-- This is used for parsing shortcuts to the app icon on launcher screen -->
            <meta-data android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />
        </activity>
        <activity
            android:name=".Sensors.SoundSensorActivity"
            android:label=""
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"></activity> <!-- Temperature Sensor Activity -->
        <activity
            android:name=".Sensors.TemperatureActivity"
            android:label=""
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"></activity> <!-- Light Sensor Activity -->
        <activity
            android:name=".Sensors.LightSensorActivity"
            android:label=""
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"></activity> <!-- Ram Sensor Activity -->
        <activity
            android:name=".Sensors.RamActivity"
            android:label=""
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"></activity> <!-- Battery Sensor Activity -->
        <activity
            android:name=".Sensors.BatteryActivity"
            android:label=""
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"></activity>



        <!-- Speed Sensor Activity -->
        <activity
            android:name=".Sensors.AccelerometerActivity"
            android:label=""
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"></activity> <!-- Humidity Sensor Activity -->
        <activity
            android:name=".Sensors.HumidityActivity"
            android:label=""
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" /> <!-- Pressure Sensor Activity -->
        <activity
            android:name=".Sensors.PressureActivity"
            android:label=""
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" /> <!-- Steps Sensor Activity -->
        <activity
            android:name=".Sensors.WalkActivity"
            android:label=""
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" /> <!-- The following is for the menu items -->
        <activity
            android:name=".Preferences.SettingsActivity"
            android:label="@string/preferences"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
        <service android:name=".ShowNotification" />

    </application>

</manifest>